page-home {
    #container_2_red {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background:red;
    }

    #container_2_blue {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background:blue;
    }

    .red{
        width:100px;
        height:100px;
        background:red;
    }
    .blue{
        width:100px;
        height:100px;
        background:blue;
    }
}
